<div class="hero-unit">
  <h1 class="text-center">Feedhammer</h1>
  <p class="text-center" style="margin-top: 30px;">
    <%= link_to "Register", "/user/register", :class => "btn btn-primary btn-large" %>
    <%= link_to "Login", "/user/login", :class => "btn btn-large" %>
  </p>
</div>

<div class="row">
  <h2>What Is This?</h2>
  <p>Feedhammer is a brand new RSS reader. Now that Google Reader is going away, you'll need a new reader that will let you blow through a lot of feeds quickly.</p>

  <div class="row">
    <div class="span4">
      <h3>Quick</h3>
      <p>A lot of new readers have sprung up -- and they seem to be trying to replace magazines and newspapers. But that makes it cumbersome to see a long list of titles, go to the ones you want, read them, and then mark the whole list as read.</p>
      <p>Feedhammer supports the keyboard shortcuts you got used to with Google Reader. So keep on using n/p/j/k/o/v/A for getting through those feeds in a hurry.</p>
    </div>
    <div class="span4">
      <h3>Groups</h3>
      <p>You don't necessarily want to see every single feed in your list. You want to be able to group them together, and read all the items from all the feeds in a group as if they're just one list.</p>
      <p>Feedhammer makes it easy to combine several feeds into one group.</p>
    </div>
    <div class="span4">
      <h3>Open</h3>
      <p>You noticed how annoying it was when you relied on the free service from Google Reader, and then it went away. You shouldn't let that happen to you again.</p>
      <p>Feedhammer is open source. You can run it locally on your computer, or preferably, sign up for a hosting provider and run it on your own server. You can export your subscriptions into an OPML file and migrate to another reader (maybe export from this server and import into your very own Feedhammer server?).</p>
    </div>
  </div>
</div>
