<div class="offset2 span6">
  <h2>Export OPML File</h2>
  <p>You're leaving? I'm sorry to see you go, but you should definitely be able to take your subscriptions with you.</p>
  <p>So download this XML file and import it into the next reader you want to use. And hopefully they also let you export when you're done!</p>
  <p class="text-center">
    <%= link_to "Download", "/export/subscriptions.xml", :class => "btn btn-primary" %>
  </p>
</div>
