<div class="offset2 span6">
  <h2><%= current_user.username %></h2>

  <p>Right now the only thing you can edit on your user is your password.</p>

  <p><%= link_to "Change Password", "/user/passwd" %></p>
</div>
