div#groups {
  position: fixed;
  overflow-y: auto;
}
div#groups ul li.active {
  font-weight: bold;
}

div#items div#groupButtons {
  padding: 5px;
}
div#items div#groupButtons a {
  margin: 2px;
}

div#items ul li.unread a {
  font-weight: bold;
}
div#items ul li .title {
  display: block;
  font-weight: bold;
}
div#items ul li .author {
  font-style: italic;
  font-size: 10pt;
}
div#items ul li .feedTitle {
  font-size: 10pt;
}
div#items ul li {
  margin: 0px;
  padding: 2px;
  padding-left: 8px;
  background-color: #DDDDDD;
  list-style-type: none;
  border-bottom: 1px solid #CCCCCC;
}
div#items ul li.focused {
  border: 2px solid #054F8E;
}
div#items ul li .article {
  margin: 6px;
  padding: 12px;
  background-color: #EEEEEE;
}
