<h1>Sharing</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>App</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @apps.each do |app| %>
    <tr>
      <td><%= app.app.capitalize %></td>
      <td>
        <% if @user_tokens[app.app] %>
        <%= link_to "De-Authorize", "/sharing/#{app.app}/remove", :confirm => "Are you sure you want to de-authorize this app", :class => "btn btn-primary" %>
        <% else %>
        <%= link_to "Authorize", "/sharing/#{app.app}/start", :class => "btn btn-primary" %>
        <% end %>
      </td>
    <% end %>
  </tbody>
</table>
